@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: 'black';
}

::-webkit-scrollbar-thumb {
    background: #b4e2d8;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8cefc6;
}